@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: Add your dark mode styles here */
body {
  background-image: url('./src/background.jpg');
@layer utilities {
  .dark {
    /* Your dark mode specific styles */
  }
}


